@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
img{
    width: 400px;
    height: 250px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
}
p,button{
    display: inline-block;
}
p{
    font-weight: bold;
}
button{
    margin-left: 10px;
    border: 1px inset black;
    font-weight: 700px;
    padding: 4px 20px;
    box-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
.div-2{
    display: flex;
    justify-content: center;
    align-items: center;
}